<h1>Sign up to MakersBnB</h1>


<a href="/login">Login</a>

<form action="/users" method="POST">
<label for= "email">Email Address</label>
<input type="email" name="email" id="email" value="<%=email%>" required> 
<br>
<label for= "password">Password</label>
<input placeholder = "Password needs to be at least 6 characters" type="password" minlength = 6 name="password" id="password" required> 
<br>
<label for= "password_confirm">Password Confirm</label>
<input placeholder = "Password needs to be at least 6 characters" type="password" minlength = 6 name="password_confirm" id="password_confirm" required> 
<br>
<br>
<br>
<%if check == false %>
    Password should match and Email Address should be unique.
<br>
<%end%>
<button>Sign Up</button>

</form>

