<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Web Application</title>
    <!-- Compiled and minified CSS
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
