<h1>Login into MakersBnB</h1>

<a href="/">Sign Up</a>

<form action="/login" method="POST">
<label for= "email">Email Address</label>
<input type="email" name="email" id="email" required> 
<br>
<label for= "password">Password</label>
<input placeholder = "Password needs to be at least 6 characters" type="password" minlength=6 name="password" id="password" required> 
<br>
<button>Login</button>

</form>