<a href="/logout">Logout</a>
<a href="/spaces">Spaces</a>

<center><h1>Requests</h1></center>
<div style="float: left">Requests I've made</div>
<% if request_entries%>
    <div style="float: left">You have no requests</div>
<%end%>

<div style="float: right">Requests I've received</div><div style="clear: both;"></div>
