<a href="/logout">Logout</a>
<a href="/spaces">Spaces</a>
<a href="/requests">Requests</a>

<center><h1>Request for <%=request_by_req_id.description%></h1></center>
<div>From: <%=requested_by.email%></div>
<div>Booking date: <%= request_by_req_id.booking_date%></div>
<div>Other Bookings for this date: </div>
<br>
<button>Confirm</button> <button>Decline</button>

