<center><h1>List a space</h1></center>

<form action="/spaces" method="POST">

  <p>
    <label for="name">Name</label>
    <br>
    <input type="text" id="name" name="name">

    <br>

    <label for="description">Description</label>
    <br>
    <input type="text" id="description" name="description">

    <br>

    <label for="price">Price per night (£)</label>
    <br>
    <input type="text" id="price" name="price">

    <br>

    <label for="date_from">Date from</label>
    <br>
    <input type="date" id="date_from" name="date_from">

    <br>

    <label for="date_to">Date to</label>
    <br>
    <input type="date" id="date_to" name="date_to">
  </p>

  <input type="submit" value="List my Space">

</form>